.board{
    margin-top: 5em;
height:5em
}
body{
    height: 95vh;
}
#rook{
    position: absolute;
    width: 5.5em;
    height: 5.5em;
    z-index: 5;
}
#board{
    z-index: -1;
}
[id^=spot]{
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
[id^=line]{
    width: 100vw;
    height:100px;
    display: flex;
}
[id$=b]{
    height: 100px;
    background-color:black;
    position:relative;
    width:100px;
    height:100px;
}
[id$=w]{
    height: 100px;
    background-color:wheat;
    position:relative;
    width:100px;
    height:100px;
}

[id^=spot]:hover{
    outline:4px solid gold;
}
img{
    width: 80px;
    height: 80px;

}
