@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
.page{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
body{
    background-image: url('chessbackground.jpg');
    font-family: 'Open Sans',sans-serif;
}
.container{
}
.container a{
    display: block;
    width: 10em;
    height: 3em;
    line-height: 3em;
    background-color: white;
    margin-bottom: 1.5em;
    letter-spacing: 3px;
    font-size: 3em;
    color: black;
    text-decoration: none;
    transition:1s;
}
.container a:hover{
    background-color: black;
    color: white;
}
#form{
    position: absolute;
    visibility: hidden;
}
label{
    font-size: 5em;
    color: white;
    font-weight: 600;
}
input{
    font-size:5em
}
.social img{
    width: 50px;
    height:50px;
    filter: invert(1);
    margin:0 20px;
    transition:0.5s;
}
.social li{
    
}
.social img:hover{
    transform: translateY(-20px);
}
.social{
    z-index: 10;
    display: flex;
    
}
@media (min-width:1000px){
    .container a{
        font-size: 2em;
    }
}

