.board{
 
    height:fit-content;
    width:fit-content;
    outline: 10px solid black;


    
}
body{
    height: 95vh;
}
#rook{
    position: absolute;
    width: 5.5em;
    height: 5.5em;
    z-index: 5;
}
.boardbigcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
[id^=spot]{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
[id^=line]{
    width: fit-content;
    height:250px;
    display: flex;
}
[id$=b]{
    height: 100px;
    background-color:#673D18;
    position:relative;
    width:250px;
    height:250px;
}
[id$=w]{
    height: 100px;
    background-color:wheat;
    position:relative;
    width:250px;
    height:250px;
}

[id^=spot]:hover{
    outline:10px solid black;
    z-index: 100;
}
img{
    width: 180px;
    height: 180px;
}
.page{
    display: flex;
    height:100%
}
.turndisplaycontainer{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.turndisplay{
    font-size: 10em;
}
.roomid{
    font-size:10em;
}
.hiddenmessage{
    font-size:10em
}
@media (max-width:3590px) {
    [id^=line]{
        width: fit-content;
        height:200px;
        display: flex;
    }
    [id$=b]{
        height: 100px;
        background-color:#673D18;
        position:relative;
        width:200px;
        height:200px;
    }
    [id$=w]{
        height: 100px;
        background-color:wheat;
        position:relative;
        width:200px;
        height:200px;
    }
    img{
        width: 180px;
        height: 180px;
    }
    .turndisplay,.roomid,.hiddenmessage{
        font-size: 8em;
    }
}
@media (max-width:2950px){
    [id^=line]{
        width: fit-content;
        height:6vw;
        display: flex;
    }
    [id$=b]{
        height: 100px;
        background-color:#673D18;
        position:relative;
        width:6vw;
        height:6vw;
    }
    [id$=w]{
        height: 100px;
        background-color:wheat;
        position:relative;
        width:6vw;
        height:6vw;
    }
    img{
        width: 4.5vw;
        height: 4.5vw;
    }
    .turndisplay,.roomid,.hiddenmessage{
        font-size: 3vw;
    }
}
@media (max-width:1200px){
    .page{
        display:block;
        margin-top: 50%;
    }
    .turndisplaycontainer{
        margin-top: 50px;
    }
}