@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
}
.board{
 
    height:fit-content;
    width:fit-content;
    outline: 10px solid black;


    
}
body{
    font-family: 'Open Sans',sans-serif;

    height: 100vh;
}
#number{
    position:absolute;
}
.empty{
    width:100%;
}
#rook{
    position: absolute;
    width: 5.5em;
    height: 5.5em;
    z-index: 5;
}
.boardbigcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribution{
    position:absolute;
    bottom: 0;;
}
[id^=spot]{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
[id^=line]{
    width: fit-content;
    height:250px;
    display: flex;
}
[id$=b]{
    height: 100px;
    background-color:#673D18;
    position:relative;
    width:250px;
    height:250px;
}
[id$=w]{
    height: 100px;
    background-color:wheat;
    position:relative;
    width:250px;
    height:250px;
}

[id^=spot]:hover{
    outline:10px solid black;
    z-index: 100;
}
img{
    width: 180px;
    height: 180px;
}
.page{
    display: flex;
    height:100%
}
.turndisplaycontainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.turndisplay{
    font-size: 2vw;
}
.roomid{
    font-size:2vw;
}
.hiddenmessage{
    font-size:2vw
}
.modal-container-extra-big{
    position:absolute;
    z-index:100;
    display: none;
}
.modal-container-big{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: fit-content;
    text-align: center;
}
.image-holder img{
    outline: 5px solid black;
    margin:0 15px;
    transition: 1s;
    padding: 8px 8px;
}
.image-holder img:hover{
    background-color: black;
}
.modal-container{
    display: block;
    width: fit-content;
    background-color: white;
    text-align: center;
    padding: 20px 20px;
    border-radius: 20px;
}
.image-holder{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.pawn-promotion-banner{
    font-weight: 600;
    text-align: center;
    font-size: 2.5em;
}
.alphabet{
    display: flex;
}
@media (max-width:3590px) {
    [id^=line]{
        width: fit-content;
        height:200px;
        display: flex;
    }
    [id$=b]{
        height: 100px;
        background-color:#673D18;
        position:relative;
        width:200px;
        height:200px;
    }
    [id$=w]{
        height: 100px;
        background-color:wheat;
        position:relative;
        width:200px;
        height:200px;
    }
    img{
        width: 180px;
        height: 180px;
    }
 
}
@media (max-width:2950px){
    [id^=line]{
        width: fit-content;
        height:6vw;
        display: flex;
    }
    [id$=b]{
        height: 100px;
        background-color:#673D18;
        position:relative;
        width:6vw;
        height:6vw;
    }
    [id$=w]{
        height: 100px;
        background-color:wheat;
        position:relative;
        width:6vw;
        height:6vw;
    }
    img{
        width: 4.5vw;
        height: 4.5vw;
    }
    .turndisplay,.roomid,.hiddenmessage{
        font-size: 2vw;
    }
}
@media (max-width:1200px){
    .page{
        display:block;
        margin-top: 50%;
    }
    .turndisplaycontainer{
        margin-top: 50px;
    }
}